<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>BetterVoice</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.drkpxl.bettervoice</string>
	<key>CFBundleName</key>
	<string>BetterVoice</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleVersion</key>
	<string>1001</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAudioCaptureUsageDescription</key>
	<string>Better Voice records this Mac audio output to transcribe the other side of your meetings.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Better Voice needs microphone access to transcribe your speech.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Better Voice needs speech recognition to transcribe on-device.</string>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://drkpxl.github.io/better-voice/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>XUc6FvR9apW3YwfrFZDx7xwExmHiXLTrHhdGeIES32A=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>1209600</integer>
</dict>
</plist>
